bleach==1.5.0
dataclasses==0.8
enum34==1.1.10
html5lib==0.9999999
importlib-metadata==4.8.1
Markdown==3.3.4
numpy==1.19.5
pandas==1.1.5
protobuf==3.18.1
python-dateutil==2.8.2
pytz==2021.3
scipy==1.5.4
six==1.16.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
Theano==1.0.5
typing-extensions==3.10.0.2
Werkzeug==2.0.2
zipp==3.6.0
